body{
    margin: 0;
    color: rgb(160, 149, 149);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,p{
    margin: 0;
}
.cideBar{
    width: 320px;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.loga{
    padding: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid white;
}
.loga a{
    color: white;
}
.menu{
    padding: 20px;
}
.autor{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid white;
    color: black;
}
.menu ul li{
margin: 0px 0px 8px;
}
.menu ul li a{
    display: flex;
    padding: 9px 15px;
    color: white;
}
.container{
    background-color: orange;
    padding-left: 320px; 
}
.header{
    background-color: #3d7420;
    height: 100vh;
}
.headercontainer{
    max-width: 1500px;
    height: 100vh;
    margin: auto;
    display: flex;
}
.headercontant div img{
    width: 300px;
    margin: auto;
}
.headercontant{
    margin: auto;
}
.bottom2{
    border: 1px solid black;
    width: 140px;
    height: 40px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #191c26;
    color: rgb(160, 149, 149);

    
}
.headerimg img{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.headercontant .headerimg{
    background-color: #3d7420;
    display: flex;
}
.headercontant h1{
    background-color: #3d7420;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 1.2;
    text-align: center;
    
}
.headercontant p{
    background-color: #3d7420;
    width: 300px;
    text-align: center;
}
.headercontant .socialnetwork{
    background-color: #3d7420;

}
.headercontant .headerdl{
    background-color: #191c26;
}

